button,
    div,
    form,
    input {
      margin: 10px;
      border: none;
    }

body {
    font-family: 'Cute Font', cursive;
    font-size: 25px;
    color: white;
    background-image: url(../css/dark_wood/dark_wood.png);
    margin: auto; 
}


.jumbotron {
    background-color: rgb(117, 5, 10);
    color: white;
}

.gif-info-container {
    display: inline-block;
    width: 100%;
}
#add-sitcom {
    background-color: rgb(247, 141, 109);
}

.sitcom-btn {
    background-color: rgb(128, 164, 243);
}

.sitcom {
    display: inline-block;
}

#ratingAndImage {
    float: left;
}

#ratingDiv {
    text-align: center;
    font-size: 20px;
    width: 200;
    display: block;
}

.bigTitle {
    display: inline;
    text-align: center;
}
  
#pic-hover {
    /* position: relative; */
    width: 250px;
    height: 200px;
    top: 60px;
    display: inline-block;
  }
  
#gif-hover {
    /* position: relative; */
    width: 250px;
    height: 200px;
    top: 60px;
    display: inline-block;
  }
  
#hover {
    /* position: absolute; */
    left: 60%;
    margin-left: -165px;
    top: 250px;
    width: 90px;
    height: 50px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    font-weight: bold;
  }
  
